<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:replace="~{layout/mainlayout::main-fragment(~{::title}, ~{::#main-content})}">

<head>
    <title>Sinh viên</title>
    <meta charset="UTF-8">
</head>

<body class="m4-cloak h-vh-100" id="main-content">
    <div th:fragment="account-management">
        <script type="text/javascript">
            function resetPassword(id) {
                var url = '/account-management/reset?id=' +
                    id.replace('rst', '') + '&ajax=true';
                $("#reset-message-div").load(url);

            }

            function searchAccount(e) {
                if (e.keyCode == 13) {
                    var str = $("#accountId").val();
                    var root = '/account-management/search?id=' + str +
                        '&ajax=true';
                    $("#account-table").load(root);
                }
            }

            function searchAccountClick(e) {
                var str = $("#accountId").val();
                var root = '/account-management/search?id=' + str +
                    '&ajax=true';
                $("#account-table").load(root);
            }
        </script>
        <div>
            <div class="row border-bottom bd-lightGray m-3">
                <div class="cell-md-4 text-center text-left-md">
                    <h3 class="dashboard-section-title">
                        Quản lý Tài khoản<small> Xem</small>
                    </h3>
                </div>
            </div>
            <div class="m-3">
                <div class="p-1 bg-transparent">
                    <div class="row">
                        <div class="cell-md-12 cell-xl-12">
                            <div id="reset-message-div">
                                <span style="color: green" th:text="${msg}" th:fragment="reset-message"></span>
                            </div>
                            <div class="p-1 p-6-lg bg-white mt-3">
                                <form action="javascript:" onsubmit="searchAccountClick(event)">
                                    <input type="text" data-prepend="Nhập ID cần tìm: " id="accountId" onkeyup="searchAccount(event)" data-role="input" data-search-button="true">
                                </form>
                            </div>
                            <div class="p-1 p-6-lg bg-white mt-3" id="account-table">
                                <div th:fragment="account-table">
                                    <table class="table striped table-border mt-4" data-rows="10">
                                        <thead>
                                            <tr>
                                                <th>Tài khoản</th>
                                                <th>Người sở hữu</th>
                                                <th>Quyền truy cập</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="account : ${page.content}">
                                                <td th:text="${account.accountId}"></td>
                                                <td th:text="${account.owner}"></td>
                                                <td><span th:each="role : ${account.roles}"> <span
														th:if="${role.roleName} =='USER'">[người dùng]</span> <span th:if="${role.roleName} =='ADMIN'">[người quản trị]</span>
                                                    </span>
                                                </td>
                                                <td><a href="#" th:id=" 'rst' + ${account.accountId}" class="button alert" onclick="resetPassword(this.id)">Đặt
														lại mật khẩu</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="d-flex flex-column flex-justify-center">
                                        <ul class="pagination">
                                            <li class="page-item" th:if="${page.hasPrevious()}"><a class="page-link" th:id="@{/account-management(page=${page.number - 1},size=${page.size})}" onclick="goToPage(this.id)">Trang trước</a></li>
                                            <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
                                                <li th:if="${page.number == i}" class="page-item active"><a class="page-link">[[${i}+1]]</a></li>
                                                <li class="page-item" th:unless="${page.number == i}"><a class="page-link" th:id="@{/account-management(page=${i},size=${page.size})}" onclick="goToPage(this.id)">[[${i}+1]]</a></li>
                                            </th:block>
                                            <li class="page-item" th:if="${page.hasNext()}"><a class="page-link" th:id="@{/account-management(page=${page.number+1},size=${page.size})}" onclick="goToPage(this.id)">Trang sau</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>