<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      >
<head>
    <title>Home</title>
</head>
<body class="m4-cloak h-vh-100">
<script>
    function editAnnouncement(id) {
        var url = 'announcement/edit?id=' + id.replace('edt','');
        $("#content-wrapper").load(url);
    }
    function deleteAnnouncement(id) {
        var url = 'announcement/delete?id=' + id.replace('dlt','');
        $("#content-wrapper").load(url);
    }

</script>
<div id="main-content">
    <div class="row border-bottom bd-lightGray m-3">
        <div class="cell-md-4 text-center text-left-md">
            <h3 class="dashboard-section-title">Thông báo <small>Xem</small></h3>
        </div>
    </div>
    <div class="m-3">
        <div class="p-1 bg-transparent">
            <div class="row">
                <div class="cell-md-3 cell-xl-2">
                    <a class="button mb-3 success" onclick="retrieveGuests('/announcement/add')" >Tạo thông báo</a>
                    <div class="panel">
                        <div data-role="panel" data-collapsible="true" data-title-caption="Folders"
                             class="panel-content collapsed" data-role-panel="true" style="display: none;">
                        </div>
                    </div>
                </div>
                <div class="cell-md-9 cell-xl-10">
                    <div class="p-1 p-6-lg bg-white mt-3">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Tiêu đề</th>
                                <th>Tóm tắt</th>
                                <th>Ngày tạo</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="announcement : ${page.content}">
                                <td th:text="${announcement.announcementId}"></td>
                                <td th:text="${announcement.title}"></td>
                                <td th:text="${announcement.summary}"></td>
                                <td th:text="${announcement.getFormattedCreatedDate()}"></td>
                                <td>
                                    <a href="#announcement" class="button warning" th:id="'edt'+${announcement.announcementId}" onclick="editAnnouncement(this.id)">Sửa</a>
                                </td>
                                <td>
                                    <a href="#announcement" class="button alert" th:id="'dlt'+${announcement.announcementId}" onclick="deleteAnnouncement(this.id)">Xóa</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="d-flex flex-column flex-justify-center">
                            <ul class="pagination">
                                <li th:if="${page.hasPrevious()}">
                                    <a th:href="@{/announcements(page=${page.number - 1},size=${page.size})}">Trang trước</a>
                                </li>
                                <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
                                    <li th:if="${page.number == i}" class="page-item active">[[${i}+1]]</li>
                                    <li th:unless="${page.number == i}">
                                        <a th:href="@{/announcements(page=${i},size=${page.size})}">[[${i}+1]]</a>
                                    </li>
                                </th:block>
                                <li th:if="${page.hasNext()}">
                                    <a th:href="@{/announcements(page=${page.number+1},size=${page.size})}">Trang sau</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>