<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	  th:replace="~{layout/mainlayout::main-fragment(~{::title}, ~{::#main-content})}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Home</title>
</head>
<body id="main-content" class="m4-cloak h-vh-100">
<div  th:fragment="attendance">
	<div id="attendance-preview-dialog" class="dialog" data-role="dialog"
		 data-width="1200" data-height="800" data-close-button="true">
		<div>
			<div class="dialog-title cell-md-12 text-center text-left-md">
				<h3 class="dashboard-section-title">Nhập thông Điểm danh<small> Xem trước</small></h3>
			</div>
		</div>
		<div id="attendance-preview-dialog-content" class="content-inner h-100"
			 style="overflow-y: auto"></div>
		<div class="dialog-actions right">
			<a href="#" class="button warning"
			   onclick="confirmImportAttendance('attendance/import/save')">Nhập</a> <a
				href="#" class="button primary"
				onclick="cancelImportAttendance('attendance/import/cancel')">Hủy bỏ</a>
		</div>
	</div>
	<div id="attendance-dialog" class="dialog" data-role="dialog"
		data-width="800" data-close-button="true">
		<form id="import-attendance" enctype="multipart/form-data">
			<div class="dialog-title">Nhập Điểm danh<span id = "fileNotChosenAnnouncement" style="color:red; font-size: 10pt"></span></div>
			<div class="dialog-content">
				<input type="file" th:name="file" data-role="file" data-mode="drop"
					id="file-attendance" data-prepend="Chọn tệp tin Excel để bắt đầu tải lên"
					required accept=".xlsx"><br>
				<div class="panel">
					<div data-role="panel" data-collapsible="true"
						data-title-caption="Folders" class="panel-content collapsed"
						data-role-panel="true" style="display: none;"></div>
				</div>
			</div>
			<div class="dialog-actions right">
				<button class="button" type="submit"
					id="btnSubmitAttendance" onclick="doImportAttendance()">Nhập</button>
			</div>
		</form>
	</div>
	<div >
		<div class="row border-bottom bd-lightGray m-3">
			<div class="cell-md-6 text-center text-left-md">
				<h3 class="dashboard-section-title">
					Quản lý Chuyên cần<small>xem</small>
				</h3>
			</div>
		</div>
		<div class="m-3">
			<div class="p-1 bg-transparent">
				<div class="row">
					<div class="cell-md-12 cell-xl-12">
						<button class="button"
							onclick="Metro.dialog.open('#attendance-dialog')">Nhập
							Điểm danh</button>
						<span style="color: red" th:text="${msg}"></span>
					</div>
						<div class="cell-md-4 cell-xl-4" >
					
						Khoa: <select id="faculty-select" data-role="select" class="form-control"
							data-on-item-select="getClassesAttendance()">
							<option value="empty">Chọn một mục</option>
							<optgroup label="Khoa">
							<option th:each="i : ${faculties}" th:value="${i.facultyId}"
								th:text="${i.facultyId + ' - ' + i.name}" th:selected="${i==selectedFaculty}"></option>
							</optgroup>
						</select>
					</div>

					<div class="cell-md-4 cell-xl-4" id="select-classes">
						<div th:fragment="select-classes">
							Lớp: <select data-role="select" id="class-select" 
								data-on-item-select="getAttendanes()">
								<option value="empty">Chọn một mục</option>
								<optgroup label="Lớp học phần">
									<option th:each="i : ${moduleClasses}"
										th:value="${i.moduleClassId}"
										th:text="${i.moduleClassId + ' - ' + i.moduleClassName}" th:selected="${i==selectedModuleClass}"></option>
								</optgroup>
							</select>
						</div>
					</div>
					<div class="cell-md-12 cell-xl-12" id="attendance-table">
						<div class="p-1 p-6-lg bg-white mt-3" th:fragment="attendance-table">
							<table class="table striped table-border mt-4" data-role="table"
								data-rows="10">
								<thead>
									<tr>
										<th>Mã số sinh viên</th>
										<th>Họ đệm</th>
										<th>Tên</th>
										<th>Ngày nghỉ</th>
										<th>Phép</th>
										<th>Lớp học phần</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="attendance : ${attendances}">
										<td th:text="${attendance.student.id}"></td>
										<td th:text="${attendance.student.lastName}"></td>
										<td th:text="${attendance.student.firstName}"></td>
										<td th:text="${attendance.getFormattedDateOff()}"></td>
										<td th:if="${attendance.allowed} == true">Có</td>
										<td th:if="${attendance.allowed} == false">Không</td>
										<td th:text="${attendance.moduleClass.moduleClassName}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>