<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:form="http://www.w3.org/1999/html">
<head>
<title>Cập nhật sinh viên</title>
</head>

<body class="m4-cloak h-vh-100" >
	<div id="main-content">
		<div class="row border-bottom bd-lightGray m-3">
			<div class="cell-md-4 text-center text-left-md">
				<h3 class="dashboard-section-title">
					Sinh viên<small> Chỉnh sửa</small>
				</h3>
			</div>
		</div>
		<div class="m-3" th:fragment="edit-student">
			<div class="row">
				<div class="cell-md-9 cell-xl-10">
					<div class="p-1 p-6-lg bg-white mt-3">
						<form th:object="${student}" id="student-form" action="#">
							<input type="hidden" th:field="*{id}">
							<div class="form-group">
								<label>Họ đệm </label><span id="errLastName"
									style="color: red; font-size: 10pt"></span> <input type="text"
									th:field="*{lastName}" placeholder="Nhập Họ đệm sinh viên"
									required />
							</div>
							<div class="form-group">
								<label>Tên </label><span id="errFirstName"
									style="color: red; font-size: 10pt"></span> <input type="text"
									th:field="*{firstName}" placeholder="Nhập Tên sinh viên"
									required />
							</div>
							<div class="form-group">
								<label>Ngày sinh </label> <input type="date"
									th:field="*{dateOfBirth}" placeholder="Nhập ngày sinh" required onkeydown="return false" /><span id="errDOB"
									style="color: red; font-size: 10pt"></span>
							</div>
							<div class="form-group">
								<label>Giới tính </label> <input type="checkbox"
									th:field="*{gender}" />Nam
							</div>
							<div class="form-group">
								<label>Địa chỉ </label><span id="errAddress"
									style="color: red; font-size: 10pt"></span> <input type="text"
									th:field="*{address}" placeholder="Nhập địa chỉ" required />
							</div>
							<div class="form-group">
								<label>Điện thoại </label><span id="errPhoneNumber"
									style="color: red; font-size: 10pt"></span> <input type="number"
									th:field="*{numberPhone}" placeholder="Nhập số điện thoại"
									required />
							</div>
							<div class="form-group">
								<label>Email </label><span id="errEmail"
									style="color: red; font-size: 10pt"></span> <input type="text"
									th:field="*{email}" name = "email" placeholder="Nhập địa chỉ Email" required />
							</div>
							<div class="form-group">
								<label>Số điện thoại phụ huynh </label><span
									id="errParentPhoneNumber" style="color: red; font-size: 10pt"></span>
								<input type="number" th:field="*{familyNumber}"
									placeholder="Nhập số điện thoại phụ huynh" required />
							</div>
							<div class="form-group">
								<label>Lớp chủ nhiệm </label><span id="errMainClass"
									style="color: red; font-size: 10pt"></span> <select
									th:field="*{mainClass}" class="form-control">
									<option th:each="i : ${mainClasses}" th:value="${i.classId}"
										th:text="${i.classId}" th:selected="${mainClass}"></option>
								</select>
							</div>
						<!-- <div class="form-group">
								<button type="submit" class="button success" id="btnSaveStudent">Lưu
									lại</button>
								<input type="button" class="button" value="Hủy"
									onclick="cancelEdtingStudent('student/')">
							</div> -->	
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>