<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      >
<head>
    <title>Lớp chủ nhiệm</title>
</head>
<body class="m4-cloak h-vh-100">
<div id="main-content">
    <div class="row border-bottom bd-lightGray m-3">
        <div class="cell-md-4 text-center text-left-md">
            <h3 class="dashboard-section-title">Quản lý Lớp chủ nhiệm<small>Xem</small></h3>
        </div>
    </div>
    <div class="m-3">
        <div class="p-1 bg-transparent">
            <div class="row">
                <span style="color: red" id="message" th:text="${failMessage}"></span>
                <div class="cell-md-3 cell-xl-2">
                    Nhập thông tin Sinh viên
                    <form th:action="@{mainclass/import}" method="post" enctype="multipart/form-data">

                        <input type="file" th:name="file" required>

                        <input th:type="submit" value="Nhập"/>
                    </form>
                    <div class="panel">
                        <div data-role="panel" data-collapsible="true" data-title-caption="Folders"
                             class="panel-content collapsed" data-role-panel="true" style="display: none;">
                        </div>
                    </div>
                </div>
                <div class="cell-md-9 cell-xl-10">
                    <div class="p-1 p-6-lg bg-white mt-3">
                        <table class="table striped table-border mt-4" data-role="table" data-rows="10">
                            <thead>
                            <tr>
                                <th>Mã lớp</th>
                                <th>Khoa</th>
                                <th>Bậc đào tạo</th>
                                <th>Loại hình đào tạo</th>
                                <th>Chuyên ngành</th>
                                <th>Niên Khóa</th>
                                <th>Giảng viên</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="class : ${listClass}">
                                <td th:text="${class.classId}"></td>
                                <td th:text="${class.faculty.name}"></td>
                                <td th:text="${class.level}"></td>
                                <td th:text="${class.type}"></td>
                                <td th:text="${class.speciality}"></td>
                                <td th:text="${class.year + '-' + class.year+4}"></td>
                                <td th:text="${class.lecturer.lastName + ' ' +class.lecturer.firstName}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>