<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:replace="~{layout/mainlayout::main-fragment(~{::title}, ~{::#main-content})}">

<head>
    <title>Lớp chủ nhiệm</title>
</head>

<body class="m4-cloak h-vh-100" th:fragment="main-class">
    <div id="main-content">
        <div class="row border-bottom bd-lightGray m-3">
            <div class="cell-md-4 text-center text-left-md">
                <h3 class="dashboard-section-title">Quản lý Lớp chủ nhiệm<small>Xem</small></h3>
            </div>
        </div>
        <div class="m-3">
            <div class="p-1 bg-transparent">
                <div class="row">
                    <div class="cell-md-4 cell-xl-4">
                        Khoa: <select id="faculty-select" data-role="select" class="form-control" data-on-item-select="getMainClasses()">
							<option value="empty">Chọn một mục</option>
							<optgroup label="Khoa">
							<option th:each="i : ${faculties}" th:value="${i.facultyId}"
								th:text="${i.facultyId + ' - ' + i.name}" th:selected="${i==selectedFaculty}"></option>
							</optgroup>
						</select>
                    </div>
                    <div class="cell-md-12 cell-xl-12" id="main-class-table">
                        <div class="p-1 p-6-lg bg-white mt-3" th:fragment="main-class-table">
                            <table id="mctbl" class="table striped table-border mt-4" data-role="table" data-horizontal-scroll="true" data-rows="10">
                                <thead>
                                    <tr>
                                        <th>Mã lớp</th>
                                        <th>Khoa</th>
                                        <th>Bậc đào tạo</th>
                                        <th>Loại hình đào tạo</th>
                                        <th>Chuyên ngành</th>
                                        <th>Niên Khóa</th>
                                        <th>Giảng viên</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="class : ${listClass}">
                                        <td th:text="${class.classId}"></td>
                                        <td th:text="${class.faculty}==null?'':${class.faculty.name}"></td>
                                        <td th:text="${class.level}"></td>
                                        <td th:text="${class.type}"></td>
                                        <td th:text="${class.speciality}"></td>
                                        <td th:text="${class.year}==null?'':${class.year}"></td>
                                        <td th:text="${class.lecturer}==null?'':${class.lecturer.lastName + ' ' +class.lecturer.firstName}"></td>
                                        <td>
                                            <a th:id=" 'dlt' + ${class.classId}" onclick="deleteMainClass(this.id)" class="button alert">Xóa</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>