<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{layout/mainlayout::main-fragment(~{::title}, ~{::#main-content})}"
      >
<head>
    <title>Lớp học phần</title>
</head>
<body class="m4-cloak h-vh-100" th:fragment="module-class">
<script src="/js/module-class.js"></script>
	<div id="module-class-dialog" class="dialog" data-role="dialog"
		data-width="800" data-close-button="true">
		<form id="import-module-class" enctype="multipart/form-data">
			<div class="dialog-title">Nhập thông tin lớp học phần <span id = "fileNotChosenModuleClass" style="color:red; font-size: 10pt"></span></div>
			<div class="dialog-content">
				<input type="file" th:name="file"  data-role="file" data-mode="drop"
					id="file-module-class" data-prepend="Chọn tệp tin Excel để bắt đầu tải lên"
					required accept=".xlsx"><br>
				<div class="panel">
					<div data-role="panel" data-collapsible="true"
						data-title-caption="Folders" class="panel-content collapsed"
						data-role-panel="true" style="display: none;"></div>
				</div>
			</div>
			<div class="dialog-actions right">
				<button class="button" type="submit" id="btnSubmitModuleClass">Nhập</button>
			</div>
		</form>
	</div>
<div id="main-content">
    <div class="row border-bottom bd-lightGray m-3">
        <div class="cell-md-4 text-center text-left-md">
            <h3 class="dashboard-section-title">Quản lý Lớp học phần<small>Xem</small></h3>
        </div>
    </div>
    <div class="m-3">
        <div class="p-1 bg-transparent">
            <div class="row">
            <div class="cell-md-12 cell-xl-12">
						<button class="button" onclick="Metro.dialog.open('#module-class-dialog')">Nhập
							thông tin lớp học phần</button>
						<span style="color: red" th:text="${msg}"></span>
					</div>
                <div class="cell-md-12 cell-xl-12">
                    <div class="p-1 p-6-lg bg-white mt-3">
                        <table class="table striped table-border mt-4" data-role="table" data-rows="10">
                            <thead>
                            <tr>
                                <th>Mã lớp học phần</th>
                                <th>Tên lớp học phần</th>
                                <th>Số tiết lý thuyết</th>
                                <th>Số tiết thực hành</th>
                                <th>Số tín chỉ</th>
                                <th>Học kỳ</th>
                                <th>Thời gian bắt đầu</th>
                                <th>Thời gian kết thúc</th>
                                <th>Giảng viên</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="class : ${listClass}">
                                <td th:text="${class.moduleClassId}"></td>
                                <td th:text="${class.moduleClassName}"></td>
                                <td th:text="${class.numOfTSession}"></td>
                                <td th:text="${class.numOfPSession}"></td>
                                <td th:text="${class.numOfCredit}"></td>
                                <td th:text="${class.semester}"></td>
                                <td th:text="${class.getFormattedStartDate()}"></td>
                                <td th:text="${class.getFormattedEndDate()}"></td>
                                <td th:text="${class.lecturer.lastName +' '+ class.lecturer.firstName}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>