<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{layout/mainlayout::main-fragment(~{::title}, ~{::#main-content})}">
<head>
    <title>Home</title>
</head>
<body class="m4-cloak h-vh-100">
<div id="main-content">
    <div class="row border-bottom bd-lightGray m-3">
        <div class="cell-md-4 text-center text-left-md">
            <h3 class="dashboard-section-title">Module Class Management <small>view</small></h3>
        </div>
    </div>
    <div class="m-3">
        <div class="p-1 bg-transparent">
            <div class="row">
                <div class="cell-md-3 cell-xl-2">
                    Import Student
                    <form th:action="@{moduleclass/import}" method="post" enctype="multipart/form-data">

                        <input type="file" th:name="file">

                        <input th:type="submit" value="Import"/>
                    </form>
                    <div class="panel">
                        <div data-role="panel" data-collapsible="true" data-title-caption="Folders"
                             class="panel-content collapsed" data-role-panel="true" style="display: none;">
                        </div>
                    </div>
                </div>
                <div class="cell-md-9 cell-xl-10">
                    <div class="p-1 p-6-lg bg-white mt-3">
                        <table class="table striped table-border mt-4" data-role="table" data-rows="10">
                            <thead>
                            <tr>
                                <th>Class Id</th>
                                <th>Faculty</th>
                                <th>Level</th>
                                <th>Type</th>
                                <th>Speciality</th>
                                <th>Year</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="class : ${listClass}">
                                <td th:text="${class.moduleClassId}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>