<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{layout/mainlayout::main-fragment(~{::title}, ~{::#main-content})}">
<head>
    <title>Home</title>
</head>
<body class="m4-cloak h-vh-100">
<div id="main-content">
    <div class="row border-bottom bd-lightGray m-3">
        <div class="cell-md-4 text-center text-left-md">
            <h3 class="dashboard-section-title">Student Management <small>view</small></h3>
        </div>
    </div>
    <div class="m-3">
        <div class="p-1 bg-transparent">
            <div class="row">
                <div class="cell-md-3 cell-xl-2">
                    Import Student
                    <form th:action="@{student/import}" method="post" enctype="multipart/form-data">

                        <input type="file" th:name="file" required>

                        <input th:type="submit" value="Import"/>
                    </form>
                    <div class="panel">
                        <div data-role="panel" data-collapsible="true" data-title-caption="Folders"
                             class="panel-content collapsed" data-role-panel="true" style="display: none;">
                        </div>
                    </div>
                </div>
                <div class="cell-md-9 cell-xl-10">
                    <div class="p-1 p-6-lg bg-white mt-3">
                        <table class="table striped table-border mt-4" data-role="table" data-rows="10">
                            <thead>
                            <tr>
                                <th>Student Code</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Gender</th>
                                <th>Date of Birth</th>
                                <th>Address</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Family Phone</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="student : ${studentList}">
                                <td th:text="${student.id}"></td>
                                <td th:text="${student.firstName}"></td>
                                <td th:text="${student.lastName}"></td>
                                <td th:if="${student.gender} == true">Nam</td>
                                <td th:if="${student.gender} == false">Nữ</td>
                                <td th:text="${student.getFormatedDate()}"></td>
                                <td th:text="${student.address}"></td>
                                <td th:text="${student.numberPhone}"></td>
                                <td th:text="${student.email}"></td>
                                <td th:text="${student.familyNumber}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>