<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Sinh viên</title>
<meta charset="UTF-8">
</head>
<body class="m4-cloak h-vh-100" th:fragment="student">
	<script src="/js/student.js"></script>
	<script type="text/javascript">
		function getClasses() {
			var faculty = document.getElementById("faculty-select");
			var aClass = document.getElementById("class-select");

			var facultyId = faculty.options[faculty.selectedIndex].value;
			var classId = aClass.remove();
			var url = '/student/search?id=' + facultyId;
			$('#select-classes').load(url);
		}
		function getStudents() {
			var aClass = document.getElementById("class-select");
			var classId = aClass.options[aClass.selectedIndex].value;
			var url2 = '/student/search/class?id=' + classId;
			console.log(url2);
			$('#students-table').load(url2);
		}
	</script>
	<div id="student-dialog" class="dialog" data-role="dialog"
		data-width="800" data-close-button="true">
		<form id="import-student" enctype="multipart/form-data">
			<div class="dialog-title">
				Nhập sinh viên <span id="fileNotChosen"
					style="color: red; font-size: 10pt"></span>
			</div>
			<div class="dialog-content">
				<input type="file" th:name="file" data-role="file" data-mode="drop"
					id="file-student"
					data-prepend="Chọn tệp tin Excel để bắt đầu tải lên" required
					accept=".xlsx"><br>
				<div class="panel">
					<div data-role="panel" data-collapsible="true"
						data-title-caption="Folders" class="panel-content collapsed"
						data-role-panel="true" style="display: none;"></div>
				</div>
			</div>
			<div class="dialog-actions right">
				<button class="button" type="submit" id="btnSubmitStudent">Nhập</button>
			</div>
		</form>
	</div>
	<div id="main-content">
		<div class="row border-bottom bd-lightGray m-3">
			<div class="cell-md-4 text-center text-left-md">
				<h3 class="dashboard-section-title">
					Quản lý Sinh viên<small>Xem</small>
				</h3>
			</div>
		</div>
		<div class="m-3">
			<div class="p-1 bg-transparent">
				<div class="row">
					<div class="cell-md-12 cell-xl-12">
						<button class="button"
							onclick="Metro.dialog.open('#student-dialog')">Nhập
							thông tin sinh viên</button>
						<span style="color: red" th:text="${msg}"></span>
					</div>
					<div class="cell-md-4 cell-xl-4">
						Khoa: <select id="faculty-select" data-role="select"
							data-on-item-select="getClasses()">
							<option th:each="i : ${faculties}" th:value="${i.facultyId}"
								th:text="${i.facultyId + ' - ' + i.name}"></option>

						</select>
					</div>

					<div class="cell-md-4 cell-xl-4" id="select-classes">
						<div th:fragment="select-classes">
							Lớp: <select data-role="select" id="class-select"
								data-on-item-select="getStudents()">
								<optgroup label="Lớp học phần">
									<option th:each="i : ${moduleClasses}"
										th:value="${i.moduleClassId}"
										th:text="${i.moduleClassId + ' - ' + i.moduleClassName}"></option>
								</optgroup>
								<optgroup label="Lớp chủ nhiệm">
									<option th:each="i : ${mainClasses}" th:value="${i.classId}"
										th:text="${i.classId + ' - ' + i.className}"></option>
								</optgroup>
							</select>
						</div>
					</div>

					<div class="cell-md-12 cell-xl-12" id="students-table">
						<div class="p-1 p-6-lg bg-white mt-3" th:fragment="student-table">
							<table class="table striped table-border mt-4" data-role="table"
								data-rows="10">
								<thead>
									<tr>
										<th>Mã số sinh viên</th>
										<th>Họ đệm</th>
										<th>Tên</th>
										<th>Giới tính</th>
										<th>Ngày sinh</th>
										<th>Địa chỉ</th>
										<th>Điện thoại</th>
										<th>Email</th>
										<th>Điện thoại người thân</th>
										<th></th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									
									<tr th:each="student : ${studentList}">
										<td><a href="#student" th:id=" 'std' + ${student.id}"
											onclick="viewStudent(this.id)"><span
												th:text="${student.id}"></span></a></td>
										<td th:text="${student.lastName}"></td>
										<td th:text="${student.firstName}"></td>
										<td th:if="${student.gender} == true">Nam</td>
										<td th:if="${student.gender} == false">Nữ</td>
										<td th:text="${student.getFormatedDate()}"></td>
										<td th:text="${student.address}"></td>
										<td th:text="${student.numberPhone}"></td>
										<td th:text="${student.email}"></td>
										<td th:text="${student.familyNumber}"></td>
										<td><a href="#student" class="button warning"
											th:id=" 'edt' + ${student.id}" onclick="editStudent(this.id)">Sửa</a></td>
										<td><a href="#" th:id=" 'dlt' + ${student.id}"
											onclick="deleteStudent(this.id)" class="button alert">Xóa</a></td>
									</tr>
									
								</tbody>

							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>