<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Sinh viên</title>
    <meta charset="UTF-8">
</head>
<body class="m4-cloak h-vh-100">
<div id="main-content">
    <div class="row border-bottom bd-lightGray m-3">
        <div class="cell-md-12 text-center text-left-md">
            <h3 class="dashboard-section-title">Nhập thông tin sinh viên<small>Xem trước</small></h3>
        </div>
    </div>
    <div class="m-3"  th:fragment="student-preview">
        <div class="p-1 bg-transparent">
            <div class="row" >
            <div class="cell-md-12 cell-xl-12" >
						<div class="p-1 p-6-lg bg-white mt-3">
						<h4>Thông tin lớp học</h4>
							<span>Mã lớp: </span><span class="text-bold mt-2"
								th:text="${mainClass.classId}"></span><br>
								
							<span>Chuyên ngành: </span><span class="text-bold mt-2"
								th:text="${mainClass.speciality}"></span><br>
								
							<span>Bậc đào tạo: </span><span class="text-bold mt-2"
								th:text="${mainClass.level}"></span><br>
								
							<span>Loại hình đào tạo: </span><span class="text-bold mt-2"
								th:text="${mainClass.type}"></span><br>
								
							<span>Khoa: </span><span class="text-bold mt-2"
								th:text="${mainClass.faculty.facultyId}"></span><br>
								
							<span>Năm học: </span><span class="text-bold mt-2"
								th:text="${mainClass.year}"></span><br>
								
							<span>Giảng viên phụ trách: </span><span class="text-bold mt-2"
								th:text="${mainClass.lecturer.lastName + ' ' +mainClass.lecturer.firstName }"></span><br>
						</div>
					</div>
                 <div class="cell-md-12 cell-xl-12">
                 
                    <div class="p-1 p-6-lg bg-white mt-3">
                    <h4>Danh sách sinh viên</h4>
                        <table class="table striped table-border mt-4" data-role="table" data-rows="10">
                            <thead>
                            <tr>
                                <th>Mã số sinh viên</th>
                                <th>Họ đệm</th>
                                <th>Tên</th>
                                <th>Giới tính</th>
                                <th>Ngày sinh</th>
                                <th>Địa chỉ</th>
                                <th>Điện thoại</th>
                                <th>Email</th>
                                <th>Điện thoại người thân</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="student : ${students}">
                                <td th:text="${student.id}"></td>
                                <td th:text="${student.lastName}"></td>
                                <td th:text="${student.firstName}"></td>
                                <td th:if="${student.gender} == true">Nam</td>
                                <td th:if="${student.gender} == false">Nữ</td>
                                <td th:text="${student.getFormatedDate()}"></td>
                                <td th:text="${student.address}"></td>
                                <td th:text="${student.numberPhone}"></td>
                                <td th:text="${student.email}"></td>
                                <td th:text="${student.familyNumber}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>