<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Time Table</title>
</head>
<body class="m4-cloak h-vh-100">
<script type="text/javascript" src="/js/time-table-preview.js"></script>
	<div id="main-content">
		<div class="row border-bottom bd-lightGray m-3">
			<div class="cell-md-4 text-center text-left-md">
				<h3 class="dashboard-section-title">
					Nhập Lịch học<small>Xem trước</small>
				</h3>
			</div>
		</div>
		<div class="m-3">
			<div class="p-1 bg-transparent">
				<div class="row">
					<div class="cell-md-12 cell-xl-12">
						<div class="p-1 p-6-lg bg-white mt-3">
							<table class="table striped table-border mt-4" data-role="table"
								data-rows="10">
								<thead>
									<tr>
										<th>Thứ</th>
										<th>Tiết</th>
										<th>Môn học</th>
										<th>Giảng viên</th>
										<th>Phòng học</th>
										<th>Ngày bắt đầu</th>
										<th>Ngày kết thúc</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="timetable : ${timeTables}">
										<td th:text="${timetable.dayOfWeek}"></td>
										<td th:text="${timetable.period}"></td>
										<td th:text="${timetable.moduleClass.moduleClassName}"></td>
										<td
											th:text="${timetable.moduleClass.lecturer.lastName + timetable.moduleClass.lecturer.firstName}"></td>
										<td th:text="${timetable.classRoom}"></td>
										<td th:text="${timetable.getFormatedStartDate()}"></td>
										<td th:text="${timetable.getFormatedEndDate()}"></td>
									</tr>
								</tbody>
							</table>
							<a href="#timetable" class="button warning"
								onclick="confirmImportTimeTable('timetable/import/save')">Nhập</a> <a
								href="#timetable" class="button primary"
								onclick="cancelImportTimeTable('timetable/import/cancel')">Hủy bỏ</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>